<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsLibraryPreferencePage"
			class="org.phpsrc.eclipse.pti.library.pear.ui.preferences.PEARPreferencePage"
			id="org.phpsrc.eclipse.pti.library.pear.ui.preferences.PEARPreferencePage"
			name="PEAR">
		</page>
	</extension>
</plugin>
