<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="org.phpsrc.eclipse.pti.tools.phpdepend.validator.phpToolPHPDependMarker"
		name="PHP Depend"
		point="org.eclipse.core.resources.markers">
		<persistent value="true"/>
		<attribute name="lineNumber"/>
		<attribute name="charStart"/>
		<attribute name="charEnd"/>
		<attribute name="message"/>
		<attribute name="priority"/>
		<attribute name="severity"/>
		<super type="org.eclipse.core.resources.problemmarker"/>
 	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.PHPDependPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.PHPDependPreferencePage"
			name="PHP Depend">
		</page>
		<page
			category="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.PHPDependPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.MetricPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.MetricPreferencePage"
			name="Metrics">
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.phpsrc.eclipse.pti.ui.propertyPages.PHPToolsPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.PHPDependPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.propertyPages.PHPDependPreferencePage"
			name="PHP Depend">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
				</adapt>
			</enabledWhen>
			<filter name="nature" value="org.eclipse.php.core.PHPNature" />
		</page>
		<page
			category="org.phpsrc.eclipse.pti.tools.phpdepend.ui.propertyPages.PHPDependPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.MetricPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.propertyPages.MetricPreferencePage"
			name="Metrics">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
				</adapt>
			</enabledWhen>
			<filter name="nature" value="org.eclipse.php.core.PHPNature" />
		</page>
	</extension>

	<extension
		point="org.eclipse.ui.commands">
		<category 
			id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.commands"
			name="PHP Depend"> 
		</category>
		<command
			id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.commands.validateresources"
			categoryId="org.phpsrc.eclipse.pti.tools.phpcpd.ui.commands"
			name="PHP Depend">
		</command>
	</extension>
	
	<extension 
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.phpsrc.eclipse.pti.ui.menus.phptools?after=additions">
			<command
				commandId="org.phpsrc.eclipse.pti.tools.phpdepend.ui.commands.validateresources"
				tooltip="Run PHP Depend"
				icon="icons/full/obj16/php_depend.gif">
				<visibleWhen>
					<with variable="activeMenuSelection">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource" />
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	
	<extension
		name="PHP Depend"
		point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.actionSet"
			label="PHP Depend"
			visible="false">
			<action
				id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.action.ValidateResourcesAction"
				definitionId="org.phpsrc.eclipse.pti.tools.phpdepend.ui.commands.validateresources"
				label="PHP Depend"
				icon="icons/full/obj16/php_depend.gif"
				toolbarPath="org.phpsrc.eclipse.pti.tools.phpdepend.ui.actionSet"
				tooltip="Run PHP Depend"
				class="org.phpsrc.eclipse.pti.tools.phpdepend.ui.actions.ValidateResourcesAction"
				enablesFor="*">
			</action>
		</actionSet>
	</extension>

	<extension point="org.eclipse.ui.views">
		<view id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.views.metricrunner"
			name="PHP Depend"
			category="org.eclipse.php.ui.views"
			class="org.phpsrc.eclipse.pti.tools.phpdepend.ui.views.metricrunner.MetricRunnerViewPart"
			icon="icons/full/obj16/php_depend.gif" />
		<view id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.views.metricrunnercharts"
			name="PHP Depend Charts"
			category="org.eclipse.php.ui.views"
			class="org.phpsrc.eclipse.pti.tools.phpdepend.ui.views.metricrunner.MetricRunnerChartsViewPart"
			icon="icons/full/obj16/php_depend.gif" />
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.php.perspective">
			<actionSet id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.actionSet" />
			<viewShortcut id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.views.metricrunner" />
			<viewShortcut id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.views.metricrunnercharts" />
		</perspectiveExtension>
	</extension>

</plugin>