<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.MetricPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.MetricPreferencePage"
			name="PHP Depend">
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.phpsrc.eclipse.pti.ui.propertyPages.PHPToolsPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.phpdepend.ui.preferences.MetricPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.phpdepend.ui.propertyPages.MetricPreferencePage"
			name="PHP Depend">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
				</adapt>
			</enabledWhen>
			<filter name="nature" value="org.eclipse.php.core.PHPNature" />
		</page>
	</extension>
</plugin>
