<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="org.phpsrc.eclipse.pti.tools.phpcpd.validator.phpToolPhpcpdMarker"
		name="PHP Copy/Paste Detector"
		point="org.eclipse.core.resources.markers">
		<persistent value="true"/>
		<attribute name="lineNumber"/>
		<attribute name="charStart"/>
		<attribute name="charEnd"/>
		<attribute name="message"/>
		<attribute name="priority"/>
		<attribute name="severity"/>
		<super type="org.eclipse.core.resources.problemmarker"/>
 	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.phpcpd.ui.preferences.PhpcpdPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.phpcpd.ui.preferences.PhpcpdPreferencePage"
			name="PHP Copy/Paste Detector">
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.phpsrc.eclipse.pti.ui.propertyPages.PHPToolsPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.phpcpd.ui.preferences.PhpcpdPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.phpcpd.ui.propertyPages.PhpcpdPreferencePage"
			name="PHP Copy/Paste Detector">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
				</adapt>
			</enabledWhen>
			<filter name="nature" value="org.eclipse.php.core.PHPNature" />
		</page>
	</extension>

	<extension
		point="org.eclipse.ui.commands">
		<category 
			id="org.phpsrc.eclipse.pti.tools.phpcpd.ui.commands"
			name="PHP Copy/Paste Detector"> 
		</category>
		<command
			id="org.phpsrc.eclipse.pti.tools.phpcpd.ui.commands.validateresources"
			categoryId="org.phpsrc.eclipse.pti.tools.phpcpd.ui.commands"
			name="PHP Copy/Paste Detector">
		</command>
	</extension>
	
	<extension 
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.phpsrc.eclipse.pti.ui.menus.phptools?after=additions">
			<command
				commandId="org.phpsrc.eclipse.pti.tools.phpcpd.ui.commands.validateresources"
				tooltip="Validate selected files or folders with PHP Copy/Paste Detector"
				icon="icons/obj16/validate_resources.gif">
				<visibleWhen>
					<with variable="activeMenuSelection">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource" />
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	
	<extension
		name="PHP Copy/Paste Detector"
		point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.phpsrc.eclipse.pti.tools.phpcpd.ui.actionSet"
			label="PHP Copy/Paste Detector"
			visible="false">
			<action
				id="org.phpsrc.eclipse.pti.tools.phpcpd.ui.action.ValidateResourcesAction"
				definitionId="org.phpsrc.eclipse.pti.tools.phpcpd.ui.commands.validateresources"
				label="PHP Copy/Paste Detector"
				icon="icons/obj16/validate_resources.gif"
				toolbarPath="org.phpsrc.eclipse.pti.tools.phpcpd.ui.actionSet"
				tooltip="Validate with PHP Copy/Paste Detector"
				class="org.phpsrc.eclipse.pti.tools.phpcpd.ui.actions.ValidateResourcesAction"
				enablesFor="*">
			</action>
		</actionSet>
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.php.perspective">
			<actionSet id="org.phpsrc.eclipse.pti.tools.phpcpd.ui.actionSet" />
		</perspectiveExtension>
	</extension>
</plugin>
